.container {
    background: var(--gray-700);
    height: 12.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-top: -0.25rem;
    max-width: 7.875rem;
}