.container {
    position: absolute;
    max-width: 46rem;
    width: 100%;
    right: 0;
    left: 0;
    margin: auto;
    top: 10.8rem;
}

/* ===== FORM ===== */
.form {
    width: 100%;
    height: 3.375rem;
    display: flex;
    gap: 0.5rem;
    margin-bottom: 4rem;
}

.form input[type="text"] {
    flex: 1;
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    background: var(--gray-500);
    color: var(--gray-300);
    padding: 1rem;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

.form button[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;

    border: none;
    border-radius: 8px;
    background: var(--blue-900);
    color: var(--gray-100);

    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.4;

    transition: background .15s ease;
}

.form button[type="submit"]:hover {
    background: var(--blue-500);
}

/* ===== TASKS CONTAINER ====== */
.tasksContainer {
    width: 100%;
}

.tasksInfo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.tasksInfo .numberOfTasks, .tasksInfo .numberOfTasksFinished {
    font-size: 0.875rem;/*14*/
    font-weight: 700;
    line-height: 1.4;

    display: flex;
    gap: 0.5rem;
}

.numberOfTasks {
    color: var(--blue-500);
}

.numberOfTasksFinished {
    color: var(--purple-500);
}

.tasksInfo .indicator {
    display: block;

    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.5;

    color: var(--gray-200);
    background: var(--gray-400);
    padding: 2px 8px;
    border-radius: 999px;
}

.warningContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1.5rem;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
    
    font-size: 1rem;
    line-height: 1.4;
    text-align: center;
}

.warningContainer img {
    margin-bottom: 1rem;
}

.warningContainer strong {
    font-weight: 700;
}

.warningContainer span {
    font-weight: normal;
}

.listTasks {
    margin-bottom: 17.62rem;
}

/* ===== RESPONSIVIDADE ===== */

@media (max-width: 760px) {
    .container {
        padding: 0 1rem;
    }
}

@media (max-width: 400px) {
    .form {
        flex-direction: column;
    }
}